#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  background: url(https://raw.githubusercontent.com/nancyfontanez/shorti-url-shortener/style/navbarmockup/client/public/images/jack-b-lKvN0xV4jeA-unsplash%201.png);
  background-repeat: round;
}
