@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;700&family=Nunito:wght@400;700;900&display=swap');

:root {
  font-family: 'Barlow', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: rgb(11,17,47);
  background: -moz-radial-gradient(circle, rgba(11,17,47,1) 0%, rgba(19,27,71,1) 50%);
  background: -webkit-radial-gradient(circle, rgba(11,17,47,1) 0%, rgba(19,27,71,1) 50%);
  background: radial-gradient(circle, rgba(11,17,47,1) 0%, rgba(19,27,71,1) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b112f",endColorstr="#131b47",GradientType=1);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
