.header {
  width: 100%;
  height: 10em;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 4.3em 24.475em 2.8125em 23.125em;
}

.nav .logo {
  margin-top: -2.5em;
}

.nav ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.nav a {
  color:  inherit;
  letter-spacing: 0.125em;
}

.nav .loginSignup a {
  font-size: 1.125em;
  border: 0.125em solid #EC268F;
  border-radius: 62.4375em;
  text-decoration: none;
  padding: 0.3em 1em 0.5em 1em;
  margin-top: -2.75em;
  transition: letter-spacing 0.25s;
  display: inline-block;
  min-width: 6.5em;
}

.nav .signup {
  margin-right: 1.2em;
}

.nav .login {
  background-color: #EC268F;
}

.nav .loginSignup a:hover,
.nav .loginSignup a:focus {
  letter-spacing: 0.1875em;
  background-color: #EC268F;
}

.logout {
  border: 0.125em solid #EC268F;
  border-radius: 62.4375em;
  text-decoration: none;
  padding: 0.3em 1em 0.5em 1em;
  transition: letter-spacing 0.25s;
  display: inline-block;
  width: auto;
  font-size: 1.125rem;
  margin: 1rem 0;
  min-width: 7.5em;
  background-color: transparent;
  color: white;
}

.logout:hover,
.logout:focus {
  letter-spacing: 0.1875em;
  background-color: #EC268F;
}

@media screen and (max-width: 1440px) {
  .logo {
    margin-left: -16em;
  }

  .loginSignup {
    margin-right: -16em;
  }
}
