.UrlShortening {
  background-color: green;
  max-width: 100%;
  padding: 1.5em 2.3em;
}

.form {
  display: flex;
  justify-content: space-evenly;
}

.urlInput {
  padding: 0.6em 1.2em;
  font-size: 1em;
  border-radius: 2px;
  width: 30rem;
  max-width: 100%;
  margin-right: 30px;
}

.shortenBtn {
  border-radius: 2px;
  color: black;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: whitesmoke;
  cursor: pointer;
  transition: border-color 0.25s;
}

/* Temporary styles for disabled button */
.shortenBtn:disabled{
  border: 2px solid red;
  color: red;
}

.shortenBtn:hover,
.shortenBtn:focus {
  background-color: black;
  border-color: black;
  color: whitesmoke;
}
