.footer {
  width: 100vw;
  height: 219px;
  background: rgb(10,14,36);
  background: linear-gradient(90deg, rgba(10,14,36,1) 0%, rgba(0,64,87,1) 90%);
  border-top: 12px solid transparent;
  border-image: linear-gradient(35deg, rgba(236,38,143,1) 9.85%, rgba(0,175,239,1) 57.02%, rgba(9,245,134,1) 73.5%, rgba(255,242,18,1) 97.19%) 1;
}

.innerFooterLeft {
  display: flex;
  justify-content: flex-start;
  padding: 26px 270px;
}

.cell {
  text-align: left;
  padding-left: 110px;
}

.cell h4 { 
  color: #02BBFF;
  letter-spacing: 5px;
  font-size: 19px; 
  margin-bottom: 20px;
  text-transform: uppercase;
}

.cell ul { 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
  padding: 0;
}

.cell ul li { 
  color: rgba(255, 255, 255, 0.80);
  list-style: none;
  margin-bottom: 12px;
  font-size: 18px;
}

#cellRight {
  margin-left: -500px;
}