.header {
  width: 100%;
  height: 10rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 77px 148px;
}

.nav .logo {
  margin-top: -40px;
}

.nav ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.nav a {
  color: inherit;
  letter-spacing: 2px;
}

.nav .loginRegister a {
  font-size: 18px;
  border: 2px solid #EC268F;
  border-radius: 999px;
  text-decoration: none;
  padding: 8px 20px;
}

.nav .signup {
  margin-right: 18px;
}

.nav .login {
  background-color: #EC268F;
}

.nav .loginRegister a:hover,
.nav .loginRegister a:focus {
  background-color: #EC268F;
}
