.header {
  width: 100%;
  height: 5rem;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav .logo {
  padding-right: 10px;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav li {
  font-size: 1.25rem;
}

.nav a {
  color: inherit;
}

.nav .featuresPricing {
  font-size: 0.8rem;
  padding-right: 10px;
  color: blue;
}

.nav .loginRegister a {
  text-decoration: none;
  padding-left: 10px;
}

.nav .loginRegister a:hover,
.nav .loginRegister a:focus {
    color: green;
}