.container {
  max-width: 100%;
  padding-left: 23.75em;
}

.sloganTop, .sloganBottom, .and {
  display: flex;
  justify-content: flex-start;
  font-family: 'Nunito';
  font-size: 3.625em;
  letter-spacing: 0.09em;
  font-weight: 600;
}

.sloganTop {
  margin-top: 1.5em;
}

.sloganBottom {
font-size: 4.25em;
padding: 1em 0;
background: #00AFEF;
background: -webkit-linear-gradient(to right, #00AFEF 0%, #17F680 15%, #FFF212 39%);
background: -moz-linear-gradient(to right, #00AFEF 0%, #17F680 15%, #FFF212 39%);
background: linear-gradient(to right, #00AFEF 0%, #17F680 15%, #FFF212 39%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.and {
  position: absolute;
  top: 4.77em;
  left: 8.4em;
  font-size: 4.25em;
  padding-top: 1.25em;
}

hr {
  position: relative;
  height: 0.25em;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 0.3125em;
}

.lineOne {
  top: -1em;
  left: -42.9em;
  width: 11em;
}

.lineTwo {
  top: -0.4em;
  left: -28.5em;
  width: 27.5em;
}

.lineThree {
  top: 0.2em;
  left: -15.4em;
  width: 11em;
}

.lineFour {
  top: -20.5em;
  left: 16em;
  width: 5.75em;
}

.lineFive {
  top: -20em;
  left: 20.5em;
  width: 6.9375em;
}

.creationImg {
  position: relative;
  top: -9.5em;
  left: 11em;
}

@media screen and (max-width: 1440px) {
  .sloganBottom {
    margin-left: -3.75em;
  }

  .sloganTop {
    margin-left: -4.4em;
  }

  .and {
    left: 4.65em;
  }

  .form {
    margin-left: -15.50em;
  }
}